body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 20px;
    /* text-align: center; */
    background-image: url("/static/bg-image.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}


h1 {
    color: #fff;
}

a {
    text-decoration: none;
    background-color: #28a745;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
}

a:hover {
    background-color: #218838;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

td a {
    background-color: #dc3545;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    margin: 5px;
}

td a:hover {
    background-color: #c82333;
}


form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}